body{
margin 0;
padding 0;
font-family: sans-serif;
background: url(../images/kelly-sikkema-2Kx1375-90prc.jpg);
/*background-size:cover;*/
background-position: center;
}

.nav-panel{
  padding: 0.3% 1%;
  height: 5vh;
  background-color: #afafaf;
  text-align: right;
  box-shadow: 5px 5px #555555;
}

.nav-box{
  display: inline-block;
  width: 10%;
  font-size: 2em;
}

.nav-box:hover{
  background-color: #bfbfbf;
  font-size: 2.1em;
  transition-property: : font-size;
  transition-duration: 2s;
}

main{
  height: 85vh;
  text-align: center;
  /*background-color: #bfbfbf;*/
}

footer{
  text-align: right;
}

.board-box{
  display: inline-block;
  width: 75%;
  margin: 1% 0%;
  text-align: center;
  background-color: #bfbfbf;
  opacity: 0.75;
}
